@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Raleway);

h1 {
  color: #545454;
  font-size: 1.75em;
  text-align: left;
  margin-bottom: 0em;
  font-family: 'Varela Round', sans-serif;
}
h2 {
  color: #545454;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 0;
  text-align: left;
}
h5 {
  color: #545454;
  font-size: .85em;
  text-align: left;
  margin-bottom: 0em;
}

p {
  color: #545454;
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 0em;
}

.btn-success{
  background: #6DC6AD;
  padding: .35em 1.5em;
  font-size: 1.75em;
  -moz-box-shadow:    0px 0px 7px 4px #ccc;
  -webkit-box-shadow: 0px 0px 7px 4px #ccc;
  box-shadow:         0px 0px 7px 4px #ccc;
}
.btn-success:hover{
  background: #69C2A9;
}

.icons{
	margin-top: -.2em; 
	margin-bottom: .5em;"
}
.talking_points{
	margin-top: 1.5em; 
	margin-bottom: .2em;
}

footer{
	margin-bottom: 2em;
}

#twitter {
  float: right;
}

.explain{
	text-align: justify;
}
