*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
*.DS_Store
Vacant*.csv
cityparcel*.csv
cityvoice-todo*.rtf
next-steps*.txt
git-merge-steps.txt
.env
/notes
/config/database.yml
/.idea
