<h1>Listing voice_transcriptions</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @voice_transcriptions.each do |voice_transcription| %>
      <tr>
        <td><%= voice_transcription.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

