<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @voice_transcription.content %>
</p>

<%= link_to 'Edit', edit_voice_transcription_path(@voice_transcription) %> |
<%= link_to 'Back', voice_transcriptions_path %>
