<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div class="modalBox">
	<div id="dialog" title="">
	  	<h1 style="padding-left: .75em; padding-right: .75em; padding-top: .5em;">View information and opinions on vacant and abandoned properties in your neighborhood.</h1>
	  	<img style="padding-bottom: 1em;" src="/assets/screenshot.png" />
	</div>
</div>
<div id="map" style="width: 100%; height: auto; position: absolute; top: 40px; bottom: 0; z-index:-1;"></div>
<div class="container">
	<!--
	<div class="center row landingBar">
		<div class="span8 ">
			<div class="row">
				<div class="span6">
					<h1>View information and opinions on vacant and abandoned properties in your neighborhood.</h1>
				</div>
			</div>
		</div>
	</div>
-->
	<footer class="footer" style="height: 5em; position: absolute; bottom:0; left:0;">
	  <nav class="pull right" style="padding-right: 1.5em;">
	    <ul>
	      <li><%= link_to "Contact", '#' %></li>
	      <li><%= link_to "About", '#' %></li>
	    </ul>
	  </nav>
	  <div class="footerLogo"><a href="http://codeforamerica.org/"><img src="/assets/cfa_logo_black.png" /></a></div>
	  <div class="footerLogo"><a href="http://southbendin.gov/"><img src="/assets/southbendlogo.png" /></a></div>
	</footer>
</div>



<%= javascript_include_tag "landing" %>
