<div id="maplayer"> 
	<div id="map"></div>
</div>
<div class="container">
	<div class="center row">
		<div class="span6 offset3">
			<div class="landingBox">
				<div class="row">
					<div class="span2">
						<img style="height:110px; width:110px;" src="/assets/southbendlogo.png" />				
					</div>
					<div class="span4">
						<h1>View information and opinions on vacant and abandoned properties in your neighborhood.</h1>
					</div>
				</div>
			</div>
			<div class="input-append">
			  <input class="span6" id="appendedInputButton" type="text" placeholder="search by address..."style="height: 20px;">
			  <button class="btn" type="button"><i class="icon-search"></i></button>
			</div>
		</div>
	</div>
</div>
<script>window.map = L.mapbox.map('map','codeforamerica.map-stwhr1eg');</script>

	
