<div id="maplayer"> 
	<div id="map"></div>
</div>
<div class="container">
	<div class="center row">
		<div class="span6 offset3">
			<div class="landingBox">
				<div class="row">
					<div class="span2">
						<img style="height:110px; width:110px;" src="/assets/southbendlogo.png" />				
					</div>
					<div class="span4">
						<h1>View information and opinions on vacant and abandoned properties in your neighborhood.</h1>
					</div>
				</div>
			</div>
			<div class="input-append">
        <input class="span6" type="text" id="appendedInputButton">
			  <button class="btn" type="button"><i class="icon-search"></i></button>
			</div>
		</div>
	</div>
	<footer class="footer" style="height: 12em; position: absolute; bottom:0; left:0;">
	  <small>
	    A project by
	    <a href="http://codeforamerica.org/">Code for America</a>
	    Team South Bend
	  </small>
	  <nav>
	    <ul>
	      <li><%= link_to "Contact", '#' %></li>
	    </ul>
	  </nav>
	</footer>
</div>

<script>window.map = L.mapbox.map('map','codeforamerica.map-stwhr1eg').setView([41.687, -86.254], 15);</script>
<script>$('#appendedInputButton').typeahead({name: "Colors", local: ["red", "Roja", "roger", "raja", "blue","green"] });</script>




	
