<% if ENV["MONROE_PILOT"] %>
  <script>
    var monroePilot = true;
    console.log("Monroe pilot in effect");
  </script>
<% else %>
  <script>
    var monroePilot = false;
  </script>
<% end %>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<div id="dialog">
  	<h1>
  		Find out about abandoned properties in South Bend.
  	</h1>
  	<ul>
		<li>Status</li>
		<li>Condition</li>
		<li>Inspector Recommendation</li>
		<li>Citizen Feedback</li>
	</ul>
</div>

<div id="map" style="width: 100%; height: auto; position: absolute; top: 40px; bottom: 0; z-index:-1;"></div>
<div class="container">
	<!--
	<div class="center row landingBar">
		<div class="span8 ">
			<div class="row">
				<div class="span6">
				</div>
			</div>
		</div>
	</div>
-->
	<footer class="footer" style="height: 5em; position: absolute; bottom:0; left:0;">
	  <nav class="pull right" style="padding-right: 1.5em;">
	    <ul>
	      <li><%= link_to "Contact", '#' %></li>
	      <li><%= link_to 'About', page_path('about') %></li>
	    </ul>
	  </nav>
	  <div class="footerLogo"><a href="http://codeforamerica.org/"><img src="/assets/cfa_logo_black.png" /></a></div>
	  <div class="footerLogo"><a href="http://southbendin.gov/"><img src="/assets/southbendlogo.png" /></a></div>
	</footer>
</div>


