<div class="container" style="background: #858DFF; height ">
	<div class="center row">
		<div class="span6 offset3">
			<div class="center landingBox">
				<h1>View information and opinions on vacant and abandoned properties in your South Bend Neighborhood.</h1>
			</div>
			<div class="input-append">
			  <input class="span6" id="appendedInputButton" type="text" placeholder="address search..."style="height: 20px;">
			  <button class="btn" type="button"><i class="icon-search"></i></button>
			</div>
		</div>
	</div>
</div>


	
