<div class="row">
  <div class="small-12 columns">
    <h1>Voice Answers</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <table style="width: 100%">
      <thead>
        <tr>
          <th width="150">Location</th>
          <th width="90">Date</th>
          <th>Question</th>
          <th width="120">Phone #</th>
          <th width="50"></th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |answer| %>
          <%= render partial: 'voice_answers/answer', locals: {answer: answer} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
