<!DOCTYPE html>
<html>
  <body>
    <h2 style="color: #545454; display:inline; font-size: 1.2em; font-weight: bold; font-family: 'Raleway', sans-serif; letter-spacing: 0; padding: .25em; text-align: left;">Hi,<br> You recently signed up to receive email notifications from CityVoice. Please confirm that you want receive notifications for the location at: <strong><%= @property.name %></strong> Click this link to <%= link_to 'CONFIRM', notification_subscriptions_confirm_url(token: @token) %></h2><br>
    <hr>
    <p style="color: #545454; font-size: 1.1em; line-height: 1.1em; font-weight: normal; font-family: 'Raleway', sans-serif;">For questions or comments email: southbend@codeforamerica.org<br><a href="http://cityvoiceapp.com">cityvoiceapp.com</a></p>
  </body>
</html>
