<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is to confirm that you want notification for: <%= @property.name %></h1>

    <p>
      You have successfully signed up to example.com,
    </p>
    <p>
      To confirm just click this link: <%#= @url %>.
    </p>
    <p>Thanks!</p>
  </body>
</html>
