<!DOCTYPE html>
<html>
  <body>
    <h2 style="color: #545454; display:inline; font-size: 1.2em; font-weight: bold; font-family: 'Raleway', sans-serif; letter-spacing: 0; padding: .25em; text-align: left;">Your weekly wrap-up from CityVocie!</h2>

    <h2 style="color: #545454; display:inline; font-size: 1.2em; font-weight: bold; font-family: 'Raleway', sans-serif; letter-spacing: 0; padding: .25em; text-align: left;">In the last week the following location has seen activity: </h2>
    <br>
    <h1 style="color: #545454; font-size: 1.75em; text-align: left; margin-bottom: 0em; font-family: 'Varela Round', sans-serif;"><%= @property.name %></h1>
    <br>
    <hr>
    <p style="color: #545454; font-size: 1.1em; line-height: 1.1em; font-weight: normal; font-family: 'Raleway', sans-serif;">For questions or comments email: southbend@codeforamerica.org<br><a href="http://cityvoiceapp.com">cityvoiceapp.com</a></p>
  </body>
</html>
