<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Your weekly wrap-up from CityVocie!</h3>

    <h3>In the last week the following location has seen activity on CityVoice: </h3>
    <h2><%= @property.name %></h2>

    <hr>
    <p>For questions or comments email: southbend@codeforamerica.org<br><a href="http://cityvoiceapp.com">cityvoiceapp.com</a></p>
  </body>
</html>
