<tr>
  <td rowspan="2"><%= response_set.question %></td>
  <td>Agree</td>
  <td>
    <%= render partial: 'numerical_answers/vote_meter', locals: { total: votes.fetch(:total, 0), number: votes.fetch(:agree, 0) } %>
  </td>
</tr>
<tr>
  <td>Disagree</td>
  <td>
    <%= render partial: 'numerical_answers/vote_meter', locals: { total: votes.fetch(:total, 0), number: votes.fetch(:disagree, 0) } %>

  </td>
</tr>
