<tr>
  <td rowspan="2"><%= votes.fetch(:total, 0) %></td>
  <td rowspan="2"><%= link_to(location.name, location) %></td>
  <td>Repair</td>
  <td>
    <%= render partial: 'numerical_answers/vote_meter', locals: { total: votes.fetch(:total, 0), number: votes.fetch(:repair, 0) } %>
  </td>
</tr>
<tr>
  <td>Remove</td>
  <td>
    <%= render partial: 'numerical_answers/vote_meter', locals: { total: votes.fetch(:total, 0), number: votes.fetch(:remove, 0) } %>

  </td>
</tr>
