<div class="row">
  <div class="small-12 columns">
    <h1>Activity</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
      <% @questions.each do |question| %>
        <h4><%= question.question_text %></h4>
          <table>
          <tbody>
            <tr>
              <td>Agree</td>
              <td><%= question.response_counts[1] %></td>
            </tr>
            <tr>
              <td>Disagree</td>
              <td><%= question.response_counts[2] %></td>
            </tr>
          </tbody>
          </table>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
