<div class="row">
  <div class="small-12 columns clearfix">
    <h1 class="left">Activity</h1>
    <%= link_to 'Export', numerical_answers_path(format: 'csv'), class: 'button right' %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <table style="width: 100%">
      <thead>
        <tr>
          <th width="100">Total Calls</th>
          <th width="150">Address</th>
          <th width="100">Opinion</th>
          <th>Votes</th>
        </tr>
      </thead>
      <tbody>
        <% @sorted_array.each do |location, votes| %>
          <%= render partial: 'numerical_answers/vote', locals: {location: location, votes: votes}%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
