<h1>
	Find out about abandoned properties in South Bend.
</h1>
<ul>
	<li>Status</li>
	<li>Condition</li>
	<li>Repair Cost</li>
	<li>Inspector Recommendation</li>
	<li>Citizen Feedback</li>
</ul>
<hr>
<h1>To leave feedback:</h1>
<ol>
	<li>look for signage on a property</li>
	<li>contact your neighborhood association</li>
</ol>