
<div class="container">
	<div class="center">
		<div class="row">
			<div class="span5" style="text-align: left;">
				<br>
				<br>
				<h1>ABOUT</h1>
				<hr>
				<p><strong>CITYVOICE</strong> is a voice message platform for communities to share ideas and collect information. The project was created by Code for America in partnership with the City of South Bend.</p><br>
				<h3 style="margin-bottom: 15em;">Call in and make your voice heard!</h3>
			</div>
		</div>
	</div>
</div>
<footer class="footer">
  <nav class="pull right" style="padding-right: 1.5em;">
    <ul>
      <li><%= link_to "Contact", 'contact' %></li>
      <li><%= link_to "About", 'about' %></li>
    </ul>
  </nav>
  <div class="footerLogo"><a href="http://codeforamerica.org/"><img src="/assets/cfa_logo_black.png" /></a></div>
  <div class="footerLogo"><a href="http://southbendin.gov/"><img src="/assets/southbendlogo.png" /></a></div>
</footer>
