
<div class="container">
	<div class="center">
		<div class="row">
			<div class="span5" style="text-align: left;">
				<br>
				<br>
				<h1>ABOUT</h1>
				<hr>
				<p><strong>CITYVOICE</strong> is a voice message platform for communities to share ideas and collect information. The project was created by Code for America in partnership with the City of South Bend.</p><br>
				<h3 style="margin-bottom: 15em;">Call in and make your voice heard!</h3>
			</div>
		</div>
	</div>
</div>

