
<div class="container">
	<div class="center">
		<div class="row">
			<div class="span5" style="text-align: left;">
				<br>
				<br>
				<h1>ABOUT CITYVOICE</h1>
				<hr>
				<br>
				<p><strong>CITYVOICE</strong> is a project by Code for America in partnership with the City of South Bend. The project provides tools for the citizens of South Bend to better understand and become involved with the issue of vacant and abandoned properties.</p><br>
				<strong>Use CITYVOICE to:</strong><br><br>
				<ul>
					<li>Find information on abandoned properties in the city</li>
					<li>Review citizen feedback on those properties</li>
				</ul>
				<br>
				<hr>
				<br>
				<p><strong>South Bend's</strong> municipal government is collecting citizen feedback on properties it believes can be repaired and where citizen involvement can be most helpful.</p>
				<br>
				<strong>To leave feedback:</strong><br><br>
				<ol style="text-align: left;">
					<li>Look for signage on specific properties.</li>
					<li>Contact your <%= link_to "neighborhood association", 'http://www.nrc4neighborhoods.org/neighborhoods/' %></li>
				</ol>
			</div>
		</div>
	</div>
</div>
<footer class="footer">
  <nav class="pull right" style="padding-right: 1.5em;">
    <ul>
      <li><%= link_to "Contact", 'contact' %></li>
      <li><%= link_to "About", 'about' %></li>
    </ul>
  </nav>
  <div class="footerLogo"><a href="http://codeforamerica.org/"><img src="/assets/cfa_logo_black.png" /></a></div>
  <div class="footerLogo"><a href="http://southbendin.gov/"><img src="/assets/southbendlogo.png" /></a></div>
</footer>