
<div class="container">
	<div class="center">
		<div class="row">
			<div class="span5" style="text-align: left;">
				<br>
				<br>
				<h1>CONTACT</h1>
				<hr>
				<br>
				<p style="margin-bottom: 12em;"><strong>Code for America - Civic Data Alliance</strong><br>
				<a href="mailto:mschnuerle@codeforamerica.org">mschnuerle@codeforamerica.org</a>
				</p>
			</div>
		</div>
	</div>
</div>
