<% @numerical_questions.each do |my_question| %>
  <div class="question">
    <div class="row-fluid">
      <div class="span12">
        <div class="text">
          <%= my_question.question_text %>
        </div>
        
        <% my_question.response_hash.each_pair do |choice, count_of_choice| %>
          
            <div class="span2">
              <% if choice == "Repair" %>
                <img src="/assets/Repair.png" />
              <% elsif choice == "Remove" %>
                <img src="/assets/Demo.png" />
                <% elsif choice == "Other" %>
                <img src="/assets/Other.png" />
              <% end %>
            </div>
            <div class="span9">
            <div class="progress progress-info" style="margin-top: .5em; margin-bottom: 1em;">
              <div class="bar" style="width: <%= count_of_choice*10 %>%">
                <h3><%= count_of_choice %>&nbsp;&nbsp;<%= choice %></h3>
              </div>
            </div>
          </div>
            <!--
            <div class="progressAnnotate">
              <span class="alignleft">
                less 
              </span>
              <span class="alignright">
                more 
              </span>
              <div style="clear: both;"></div>
            </div>
          -->
          
        <% end %>

      </div>
    </div>
  </div>
<% end %>
