<div class="container">
	<div class="row">
		<div class="span4 offset4 info_box admin" style="margin-top: 3em;">
			<div class="underline">
				<h2>Email Notifications</h2>
			</div>
			<br>
			<h2 style="margin-bottom: 5em;"><em>Congratulations!</em><h2> 
			<p>You are now subscribed to receive emails.<br></p> 
		</div>
	</div>
</div>
