<div class="container">
	<div class="row">
		<div class="span4 offset4 info_box admin" style="margin-top: 3em;">
			<div class="underline">
				<h2>Email Notifications</h2>
			</div>
			<br>
			<% if @subscription.location_subscription.errors.full_messages.any? %>
			  <p>The subscription did not go through:</p>
			  <ul>
			  <% @subscription.location_subscription.errors.full_messages.each do |error| %>
			    <li><%= error %></li>
			  <% end %>
			  </ul>
			<% else %>
			  <p>You just subscribed to receive notifications for:<br><br> <em><strong><%= @subscription.property.name %></strong></em><br><br><br> <em>Look for a confirmation email to complete the process!</em></p>
			<% end %>
		</div>
	</div>
</div>

