<div class="container">
	<div class="row">
		<div class="span4 offset4 info_box admin" style="margin-top: 3em;">
			<div class="underline">
				<h2>Email Notifications</h2>
			</div>
			<br>
                        <p>You've unsubscribed from alerts for <%= @property.name || "this property" %>.</p>
		</div>
	</div>
</div> 

 
