@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
  overflow-y: scroll;
}
body {
  padding-top: 80px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
	}
}


/* variables */

$cvBlue: #83d0d2;
$warmGray: #dcddde;
$dropShadow: #575757;
$darkLink: #424242;
$pressButton: #2fb49d;

/* general */
.alignleft {
  float: left;
}
.alignright {
  float: right;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  color: #C4C4C4;
  font-size: 1.75em;
  margin-bottom: 10px;
  text-align: left;
  margin-bottom: 1em;
}
h2 {
  background: #C4C4C4;
  color: white;
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 1em;
  padding: .35em;
  text-align: center;
  font-weight: normal;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
    background: none;
  }
}

/* footer */

