// Place all the styles related to the FeedbackInputs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// voice-messages page
.pagination {
	font-family: 'Varela Round', sans-serif;
	font-size: 1.6em;
	margin-top: 3em;
	margin-bottom: 3em;
  text-align: center;
  .current {
    color: #6DC6AD;
    font-weight: bold;
    font-size: 1.7em;
  }
}
