// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* colors */
$cvBlue: #27BDE0;
$cvYellow: #FDBB11;
$cvOrange: #F15E2C;

/* For marker cluster group */
.marker-cluster{
  width: 42px;
  height: 42px;
  padding-top: 3px;
  background-color: white;
  border: 1px solid #545454;
  color: #545454;
  text-align: center;
  font-size: 22px;
  -moz-box-shadow: 0px 0px 6px 2px #ccc;
  -webkit-box-shadow: 0px 0px 6px 2px #ccc;
  box-shadow: 0px 0px 6px 2px #ccc;
}

.landingBar{
margin-top: .5em; 
background: white;
}
.landing_content{
	margin-bottom: 1em;
}

.landing_icon{
	display: inline;
	margin-right: 1.5em;
	height: 30px;
	width: 30px;
}
.landing_titles{
	color: gray;
	display: inline;
	font-family: 'Varela Round', sans-serif;
	font-size: 2.3em;
	margin-top: 1em;
	text-align: left;
}

.ui-dialog{ 
box-shadow: 0 0 10px 0px #545454;
	.ui-dialog-content{
		padding-left: .7em; 
		padding-right: .75em; 
		padding-top: 1em;
	}
	.ui-dialog-titlebar{
	background: none;
	border: none;
		.ui-dialog-titlebar-close{
			margin-top: .15em;
			margin-right: .25em;
		}
	}


}

