// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landingBox{
border: 3px double #B8B8B8;
background:white;  
-moz-border-radius: 5px;
border-radius: 5px; 
box-shadow: 0 0 10px 0px #545454;
margin-bottom: 1.5em;
margin-top: 2em; 
padding-left: 1.5em; 
padding-right: 1.4em; 
padding-top: 1em; 
padding-bottom: 1em; 
width:100%; 
}

.landingBar{
margin-top: .5em; 
background: white;
}

.ui-dialog{ 
box-shadow: 0 0 10px 0px #545454;
	.ui-dialog-content{
		padding-left: .7em; 
		padding-right: .75em; 
		padding-top: 1em;
	}
	.ui-dialog-titlebar{
	background: none;
	border: none;
		.ui-dialog-titlebar-close{
			margin-top: .15em;
			margin-right: .25em;
		}
	}


}




