.landing.index {
  .navigation-feedback {
    @include center-navigation;
    z-index: 2100;
  }

  .city-voice-info-block {
    @extend .small-12;
    @extend .medium-4;
    @extend .columns;

    audio {
      width: 100%;
    }

    &.learn {
      .description {
        @include info-block-topper($color: $city-voice-blue);
      }

      h3 {
        background-image: image-url('learnicon.png');
      }
    }

    &.call {
      .description {
        @include info-block-topper($color: $city-voice-orange);
      }

      h3 {
        background-image: image-url('phoneicon.png');
      }
    }

    &.listen {
      .description {
        @include info-block-topper($color: $city-voice-yellow);
      }

      h3 {
        background-image: image-url('listenicon.png');
      }
    }
  }

  .recent-messages {
    @extend .medium-push-8;

    .description {
      @include info-block-topper($color: $city-voice-yellow);
    }
  }

  hr {
    border-color: transparent;
  }

  .city-voice-map {
    @extend .small-12;
    @extend .medium-8;
    @extend .medium-pull-4;
    @extend .columns;

    .container {
      height: 400px;
    }
  }
}

@media #{$small-only} {
  .landing.index .navigation-feedback {
    display: none;
  }

  .city-voice-map,
  .city-voice-info-block + .city-voice-info-block {
    margin-top: rem-calc(20);
  }
}
