// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#map{
	height: 300px;
	margin-bottom: 0;
}
.info {
	h2{
		text-align: left;
	}
}
.infoBox{
	margin-bottom: 1.5em;
	a {
	  color: #fff;
	  &:visited {
	    color: #fff;
	  }
	  &:hover {
	    color: gray;
	    text-decoration: none;
	  }
	}
	.upper{
		background: #BABABA;
		padding-left: .75em;
		padding-top: .5em;
		padding-bottom: .5em;
		border-bottom: 1px solid #F2F2F2;
		.address{
			font-family: 'Varela Round', sans-serif;
			font-size: 3.5em;
			line-height: 45px;
		}
		.infoLogo{
			padding-top: .5em;
		}
		.infoSet_above{
			margin: 0px;
			padding:0px;
			font-size: .7em;
			font-style: italic;
			font-weight: normal;
			width:100%;
		}
		.infoSet_below{
			margin-bottom: .4em;
			margin-top: -.25em;
			padding:0px;
			font-size: 1.2em;
			font-weight: bold;
			width:100%;
		}
	}
	.lower{
		background: #CCCCCC;
		padding-left: 2.5em;
		padding-top: 1em;
		padding-bottom: 1em;
		.resources{
			margin-top: .5em;
			.resources_name{
				color: white;
				font-size: 1.25em;
				font-style: italic;
			}
			.resources_info{
				color: white;
				margin-bottom: 1em;
				padding-left: .25em;
			}
		}
	}
	div{
		color: white;
	}
	h1{
		color:white;
		margin-bottom: 0em;
		margin-right: .5em;
	}
	h2{
		color:white;
		padding-bottom: 0em;
		margin-bottom: 0em;
		margin-right: .5em;
	}
	.tags{
		margin-bottom: .5em;
	}
	.label{
		margin-bottom: .5em;
	}
}
.infoHeader{
	background: #C4C4C4;
	color: white;
	padding: .25em;
	margin-bottom: 1em;
}
.question{
	margin-bottom: 1em;
	padding-left: .25em;
	padding-right: 2em;
	.oneQuestion{
		margin-bottom: .75em;
		.opinionIcon{
			display: inline;
		}
		.opinionText{
			display:inline;
			font-weight: bold;
		}
	}
	.text{
		display: inline;
		margin-bottom: -.5em;
	}
	.progress{
		margin-bottom: 0em;
	}
	.progressAnnotate{
		margin: 0px;
		padding:0px;
		font-size: .6em;
		font-style: italic;
		font-weight: normal;
		width:100%;
	}
}

.vmessage{
	border-bottom: 1px solid #E3E3E3;
	padding-bottom: 1em;
	padding-top: .5em;
	padding-left: .5em;
}
.avatar{
	background: #83d0d2;
	height: 40px;
	width: 40px;
}
.voiceAnnotate{
	font-style:italic;
	padding-top: .5em;
	color: #999;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
	}
}

