// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* colors */
$cvBlue: #27BDE0;
$cvYellow: #FDBB11;
$cvOrange: #F15E2C;
$cvGray: #545454;


#map{
	height: 300px;
	margin-bottom: 0;
}
.info {
	h2{
		text-align: left;
	}
}
.address{
	color: $cvGray;
	font-family: 'Varela Round', sans-serif;
	font-size: 3.5em;
	line-height: 45px;
	text-align: left;
}
.infoSet_above{
	color: $cvGray;
	margin: 0px;
	padding:0px;
	font-size: .8em;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}
.infoSet_below{
	color: $cvGray;
	margin-bottom: .4em;
	margin-top: .25em;
	padding:0px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
}

.resources{
	margin-top: 1em;
	.resources_name{
		color: $cvGray;
		font-size: 1.25em;
		font-style: italic;
		padding-left: 1.5em;
	}
	.resources_info{
		color: $cvGray;
		margin-bottom: 1em;
		padding-left: .25em;
	}
}

/*
	a {
	  color: #fff;
	  &:visited {
	    color: #fff;
	  }
	  &:hover {
	    color: gray;
	    text-decoration: none;
	  }
	}
	.learn_bar{
		border-top: 5px solid $cvBlue;
	}
	.call_bar{
		border-top: 5px solid $cvOrange;
	}
	.listen_bar{
		border-top: 5px solid $cvYellow;
	}
	.upper{
		background: #BABABA;
		padding-left: 1em;
		padding-top: .5em;
		padding-bottom: .75em;
		.address{
			font-family: 'Varela Round', sans-serif;
			font-size: 3.5em;
			line-height: 45px;
		}
		.infoLogo{
			padding-top: .5em;
		}
		
	}
	.lower{
		background: #CCCCCC;
		border-top: 1px solid #F2F2F2;
		padding-left: 2.5em;
		padding-right: 2em;
		padding-top: 1em;
		padding-bottom: 1em;
		
	}
*/
	div{
		color: white;
	}
	h1{
		margin-bottom: 0em;
		margin-right: .5em;
		margin-top: .25em;
	}
	h2{
		padding-bottom: 0em;
		margin-bottom: 0em;
		margin-right: .5em;
	}
	.tags{
		margin-bottom: .5em;
	}
	.label{
		margin-bottom: .5em;
	}

.infoHeader{
	background: #C4C4C4;
	color: white;
	padding: .25em;
	margin-bottom: 1em;
}

.infoHeader{
	background: #C4C4C4;
	color: white;
	padding: .25em;
	margin-bottom: 1em;
}
.question{
	margin-top: 1em;
	padding-left: .25em;
	padding-right: 2em;
	.oneQuestion{
		margin-bottom: .75em;
		.opinionIcon{
			display: inline;
		}
		.opinionText{
			color: #545454;
			display:inline;
			font-weight: bold;
		}
	}
	.text{
		display: inline;
		margin-bottom: -.5em;
	}
	.progress{
		margin-bottom: 0em;
	}
	.progressAnnotate{
		color: black;
		margin: 0px;
		padding:0px;
		font-size: .6em;
		font-style: italic;
		font-weight: normal;
		width:100%;
	}
}

.vmessage{
	border-bottom: 1px solid #E3E3E3;
	padding-bottom: 1em;
	padding-top: .5em;
	padding-left: .5em;
}
.avatar{
	background: #83d0d2;
	height: 40px;
	width: 40px;
}
.voiceAnnotate{
	font-style:italic;
	padding-top: .5em;
	color: #545454;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
	}
}

