<div class="city-voice-map">
  <div class="container" id="cityvoice-map">
 
  <%=
    map(:center => {
      :latlng => [51.52238797921441, -0.08366235665359283],
      :zoom => 18
    })
  %>
</div>
</div>




