<% content = OpenStruct.new(header_color: '#bed', short_title: 'CityVoice') %>

<div style="padding: 1rem;background-color: #ddd;">
  <%= render partial: 'application/header', locals: {content: content} %>
</div>
