<% @questions.each do |my_question| %>
  <div class="question">
    <div class="row-fluid">
      <div class="span11">
        <div class="text">
          <%= my_question.question_text %>
        </div>
        <div class="progress progress-info">
          <div class="bar" style="width: <%= my_question.average_priority/5*100 rescue nil %>%"><span style="color:black"><%= number_with_precision(my_question.average_priority, :precision => 2) %></span></div>
        </div>
        <div class="progressAnnotate">
          <span class="alignleft">
            less 
          </span>
          <span class="alignright">
            more 
          </span>
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>